*{
    margin: 0;
}
body{
    background: rgb(135, 135, 243);
}
h2{
    text-align: center;
    color: white;
    background-color: rgb(54, 53, 53);
    font-family: Arial, Helvetica, sans-serif;

}
.js1{
    
    text-align: center;
    color: black;
    position: static;
    justify-content: center;
    align-items: center;
    margin-top: 14rem;  
    }
table{
    background-color: white;
    color: black;
    margin-left: auto; 
    margin-right: auto;
}
.btn-1{
    text-align: center;
    width: auto;
    
}
input{
    padding: 5px;
    width: 15.9rem;
}
.o-1{
    padding: 5px;
}
.pp-1{
    width: 12.3rem;
}

h3{
    margin: 5px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}